body,h1,h2,h3,h4,nav,p,img,ul{
    padding: 0;
    margin: 0;
}


body{
    font: 12px/1.5 "microsoft yahei",simsun;
    color: #000;
    background: #ccc;
}

header{


    height: 60px;
    background-color: gray;
}

/*头部导航部分开始*/
header img{
    width: 100px;
    /*padding: 0 0 10px 10px ;*/
    padding: 15px 0 15px 40px ;

}
nav{
    /*display: inline;*/
    /*height: 70px;*/
    /*line-height: 40px;*/
    float: right;

}

nav ul li{
    float: left;
    width: 100px;
    height: 60px;
    line-height: 60px;
    font-size:12px ;
}
/*.logo{*/
    /*float: right;*/
/*}*/
/*.logo li{*/
    /*float: left;*/
    /*width: 100px;*/
/*}*/

nav ul li a{
    text-decoration: none;
    color: #fff;

}

nav ul li :hover{
    color: #ccc;
}

/*导航部分结束*/


/*正文部分*/
article,aside{
    margin: 20px 25px;
    padding: 30px;
    background-color: #fff;

    /*border-width: 1px 3px 3px 1px;*/
    /*border-color: gray;*/
    /*border-style: solid;*/
    /*也可以用box-shadow属性来写*/
    box-shadow: 2px 2px 3px #7b7b7b;



}




article h2{
    font-size: 20px;
}

article h3{
    font-size: 16px;
    color: grey;
    padding-top: 10px;
}

.author{
    font-size: 12px;
    color: grey;
}

p {
    font-size: 15px;
}

article ul{
    padding-top: 10px;
    padding-bottom: 20px;
}
article ul li{
    list-style: none;
    font-size: 15px;
    padding-bottom: 3px;

}

figure{
    width: 120px;
    padding: 10px;
    border: 1px solid #ccc;

}

figcaption{
    text-align: center;
    padding-bottom: 10px;
}

figure img{
    width: 100%;
}
ol li{
  font-size: 15px;
   padding-bottom: 2px;
    font-weight: 600;
}



/*.table_a {*/
    /*border-right: 1px solid #ccc;*/
    /*border-bottom: 1px solid #ccc;*/
/*}*/

/*.table_a td,th {*/
    /*border-left: 1px solid #ccc;*/
    /*border-top: 1px solid #ccc;*/
/*}*/

/*以上代码可以直接用border-collspace属性做到合并表格边框*/

table{
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

th,td{
    border: 1px solid #ccc;
    font-size: 15px;
}
.astitle{
    height: 40px;
    line-height: 40px;
    border-left: 4px solid #ccc;
    padding-left: 10px;
}

aside form >div{
    margin: 10px 0;
}
.mess_title{
    width: 30%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    margin-right: 10px;

}

.mess_tip{
    margin-left: 30%;
    padding-left: 10px;
    font-size: 13px;
    color: #ccc;

}
aside button{

    left: 12%;
    width: 100%;
    height: 45px;
    line-height: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: aquamarine;
    text-align: center;
    border-radius: 10px;
    border: 0 none;
    /*outline: medium none;*/

}


footer{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: black;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

























