div,p,h1{
    padding: 0;
    margin: 0;
}


.artic{
    position: relative;
    /*width: 100%;*/
    clear: both;
    overflow: hidden;
    border: 1px #999 solid;
    background-color: #eee;
    min-height: 530px;
    padding: 20px;

}

/*左边部分开始*/
.a_left{
    float: left;
    width: 160px;
    border: 1px solid #999;
    padding: 20px;
    background-color: white;

}

.a_left img{
    width: 100%;
    width: 80px;
    height: 80px;

}

.a_left h1{
    float: right;

    padding-top: 20px;
    font-size: 24px;
}



/*z中间部分开始*/

.a_center{

    position: absolute;
    margin-left: 220px;
    margin-right: 160px;


    border:1px solid #999;
    padding: 20px;
    background-color: white;


}

/*中间部分结束*/


/*右边部分开始*/
.a_right{
    float: right;
    right: 20px;
    width: 120px;
    border: 1px solid #999;
    background-color: white;



}

.avator1{

    width: 80px;
    height: 80px;
    margin: 20px ;
    border: 1px solid #999;
    background-color: #eee;

}
/*右边部分结束*/












