div,p,h2{
    padding: 0;
    margin: 0;
}
.newword{
    width: 1280px;
    margin: 0 auto;
}
header{
    height: 60px;
}

header ul li{
    list-style: none;
    float: left;
    padding: 0 10px;
}

.header_left {
    float: left;
    height: 60px;
    line-height: 60px;
    margin-left: 3%;
}

.header_left span{
    display: block;
    float: right;
    font-size: 24px;

    margin-top: -8px;
}

.header_right{

    float: right;
    margin-right: 3%;

}

.header_right ul li{
    font-size: 18px;
    padding-bottom: 10px;
}

.header_right ul :nth-child(1){
    border-bottom: 4px solid red;
}

.logo{
    width: 70px;
    text-align: center;
    background: url("../image/red_people.png") no-repeat ;
    background-position: 10px 0;
    color: red;

}
.header_right ul li:hover{

    border-bottom: 4px solid red;

}


.main{
    height: 937px;
    position: relative;
    background: url("../image/main.png") no-repeat ;

}

.main_word{
    width: 446px;
    height: 262px;
    padding-top: 232px;
    padding-left: 114px;
}

.main_word h1{
    font-size: 55px;
    color: #fff;
}

.main_word  p{
    font-size: 24px;
    color: #fff;
}

.red_button{
    width: 300px;
    height: 50px;
    margin-top: 65px;
    background-color: rgb(231,79,77);
    color: #fff;
    text-align: center;
    line-height: 50px;
}

.red_buttom{
    position: absolute;
    display: inline-block;
    height: 250px;
    width: 100%;
    bottom: 0;
    background-color: #fff;
}

.buttom_kuai{
    display: inline-block;
    width: 24%;
}

.buttom_kuai img{
    display: block;
    margin-top: 41px;
    margin-left: 140px;
}


.buttom_kuai p{
    margin-top: 47px;
    margin-left: 85px;
    border-right: 2px solid #ccc;
}


.know{
    height: 360px;
    background-color: rgb(237,237,236);
}

.know img{
    display: block;
    margin: 0 auto;
    padding-top: 87px;
}





.know h2{
    font-size: 35px;
    text-align: center;
    margin-top: 49px;
    color: rgb(161,161,161);

}


.map{
    height: 338px;
    background: url("../image/map.png");
}


.map h2{
    text-align: center;
    padding-top: 54px;
    font-size: 24px;
    color:#fff ;
}


.map .line{

    width: 30px;
    margin: 0 auto;
    border-bottom: 2px solid #fff;
    margin-top: 10px;
}

.map h3{
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.chance_city{
    margin-left: 124px;
    margin-top: 52px;
}
.chance{
    display: inline-block;
    width: 236px;
    height: 35px;
    border: 1px solid rgb(231,79,77);
    background: url("../image/task_03.png") no-repeat ;
    background-position: 95% 35%;
    font-size: 18px;
    color:rgb(161,161,161) ;
    line-height: 35px;
    margin-right: 29px;
}

.chance_1{
    display: inline-block;
    width: 236px;
    height: 35px;
    border: 1px solid rgb(231,79,77);
    background: url("../image/task_03.png") no-repeat ;
    background-position: 95% 35%;
    font-size: 18px;
    color:rgb(161,161,161) ;

    margin-right: 29px;
  }
.chance_1 span{
    line-height: 35px;
}

.chance_4{
    display: inline-block;
    width: 236px;
    height: 35px;
    border: 1px solid rgb(231,79,77);
    font-size: 18px;
    text-align: center;
    color:#fff;
    line-height: 35px;
    background-color: rgb(231,79,77);
}
.city{
    position: absolute;
    width: 236px;
    height: 171px;
    border: 1px solid rgb(231,79,77);
    line-height: 30px;
    background-color: #ccc;
}

.city .Beijing{
    width: 236px;
    height: 25px;
    background-color:rgb(231,79,77) ;
}
.city p{
    padding-left: 10px;
}

.picture{
    background-color: rgb(247,247,247);
}

.picture_1{
    display: inline-block;
}
.picture_1 figure{
    display: inline-block;
    padding-top: 99px;
    padding-bottom: 115px;
}

figure .other_city{
    font-size: 18px;
    text-align: center;
    color:rgb(161,161,161)  ;
}

figure .Shanghai{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 20px;

}
figure p{
    font-size: 15px;
    text-align: center;
    color:rgb(161,161,161)  ;
}

.pic_left{
    position: relative;
    width: 848px;
    height: 568px;
    background: url("../image/10.png");
    display: inline-block;
}

.pic_left .people{
    position: absolute;
    right: 0;
    top: 45%;
}

.reword{
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding-top: 130px;
}

.time{
    font-size: 90px;
    color: #fff;
    text-align: center;
}

.reBeijing{
    font-size: 25px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.retime{
    font-size: 25px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.pic_right{
    float: right;
    width: 432px;
    height: 568px;
}

.pic_right h2{
    font-size: 24px;
    font-weight: bold;
    padding-top: 165px;
    text-align: center;
}

.pic_right h2 span{
    color: red;
}

.pic_right p{
    width: 290px;
    margin:  0 auto;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    color:rgb(161,161,161) ;
}

.more{
    width: 104px;
    height: 33px;
    line-height: 33px;
    border: 3px solid rgb(231,79,77);
    margin: 0 auto;
    text-align: center;
    margin-top: 53px;
    color: rgb(231,79,77);
}

.more_wite{
    color: #fff;
    border: 3px solid #fff;
}

.img{
    margin-left: 45%;
    margin-top: 26px;
}

.new{
    width: 100%;
    height: 521px;

}
.new_1{

    float: left;
    height: 521px;
    width: 425px;

    background-color:rgb(231,79,77) ;
}

.new_1 .center{
     font-size: 24px;
    color:rgb(161,161,161);
    text-align: center;
    margin-top: 172px;

}
.new_1 .about_life{
    font-size: 24px;
    color:rgb(161,161,161);
    text-align: center;
    margin-top: 10px;

}
.new_2{
    float: left;
    width: 425px;
    height: 521px;
    background: url("../image/8.png") no-repeat;
    /*margin-top: 50px;*/
    /*background-position: 40%;*/

}

.new_3{
    background-color: #fff;
}
.new_2 img{
     margin-top: 55%;
}

.table{
    overflow: hidden;
}
.volunteer{
    font-size: 30px;
    text-align: center;
    margin-top: 116px;
    color:rgb(161,161,161) ;
}


.line{
    width: 50px;
    border-bottom: 3px solid red;
    margin: 0 auto;
    margin-top: 10px;
}

.some{
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    color:rgb(161,161,161)  ;
    margin-top: 20px;

}

.new_left{
    float: left;
    width: 295px;
    height: 285px;
    margin-left: 138px;
    padding-bottom: 169px;
}


.new_left h2{
    color: rgb(161,161,161) ;
}

.new_left p{
    font-size: 14px;
    color:rgb(161,161,161) ;

    margin-top: 20px;
}
.new_right{
    float: left;
    width: 642px;
    height: 288px;
    margin-left:76px ;
    margin-right: 108px;
}
table{
    width: 642px;
    height: 288px;


}
.more_bu{
  position: relative;
    margin-top: 20px;
    left: 100%;
    color:rgb(161,161,161) ;
}

.re_vol{

    height: 355px;
    width: 100%;
    /*margin-top: 30px;*/
    background-color: rgb(50,53,62);
    clear: both;
}

.re_vol h2{
    font-size: 30px;
    text-align: center;
    color: #fff;
    padding-top: 92px;
}

.somee{
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    color:#fff;
    margin-top: 20px;

}


.tijiao{
    position: relative;
    width: 510px;
    height: 41px;
    line-height: 41px;
    background-color: #fff;
    color:rgb(161,161,161)  ;
    margin: 0 auto;
    margin-top: 20px;
}

.tijiao span{
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 41px;
    /*right: 0;*/
    /*line-height: 41;*/
    text-align: center;
    right: 0;
    background-color: rgb(111,114,120);

}



.last_img{

    width: 202px;
    height: 35px;
    margin: 0 auto;
    margin-top: 20px;
}

.last_img img{
    padding: 0 10px;
}

footer{
    width: 100%;
    height: 59px;
    line-height: 59px;
    background-color: rgb(47,48,56);
}

.foot{
    float: left;
    color: #fff;
    left: 30px;
    margin-left: 30px;

}

.foot_2{
    float: right;
    color: #fff;
    margin-right: 30px;


}
/*表格样式*/
.buju{
    margin-bottom: 30px;
}
.new_right div{

    background-color:rgb(236,236,238) ;
}

.div1 {
    display: inline-block;
    width: 312px;
    height: 40px;
    font-size: 16px;

    line-height: 40px;

}

.div2{
    display: inline-block;
    width: 312px;
    height: 40px;
    line-height: 40px;
    margin-left: 13px;

}
.div3{
    display: inline-block;
    width: 312px;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;

}


.div4{
    display: inline-block;
    width: 312px;
    height: 40px;
    line-height: 40px;
    margin-left: 13px;

}

.div5{
    height: 119px;
    line-height: 119px;
    margin-top: 20px;
}


.div6{
    height: 38px;
    line-height: 38px;
    text-align: center;
    margin-top: 20px;
}
























