body,h1,h2,h3,h4,nav,p,img,ul{
    padding: 0;
    margin: 0;
}


body{
    font: 12px/1.5 "microsoft yahei",simsun;
    color: #000;
    background: #ccc;
}

header{


    height: 60px;
    background-color: gray;
}

/*头部导航部分开始*/
header img{
    width: 100px;
    /*padding: 0 0 10px 10px ;*/
    padding: 15px 0 15px 40px ;

}
nav{
    /*display: inline;*/
    /*height: 70px;*/
    /*line-height: 40px;*/
    float: right;

}

nav ul li{
    float: left;
    width: 100px;
    height: 60px;
    line-height: 60px;
    font-size:12px ;
}
/*.logo{*/
    /*float: right;*/
/*}*/
/*.logo li{*/
    /*float: left;*/
    /*width: 100px;*/
/*}*/

nav ul li a{
    text-decoration: none;
    color: #fff;

}

nav ul li :hover{
    color: #ccc;
}

/*导航部分结束*/


/*正文部分*/
article,aside{
    margin: 20px 25px;
    background-color: #fff;

    border-width: 1px 3px 3px 1px;
    border-color: gray;
    border-style: solid;
    padding: 30px;
}




article h2{
    font-size: 20px;
}

article h3{
    font-size: 16px;
    color: grey;
    padding-top: 10px;
}

.author{
    font-size: 12px;
    color: grey;
}

p {
    font-size: 15px;
}







article ul{
    padding-top: 10px;
    padding-bottom: 20px;
}
article ul li{
    list-style: none;
    font-size: 15px;
    padding-bottom: 3px;

}

figure{
    width: 120px;
    padding: 10px;
    border: 1px solid #ccc;

}

figcaption{
    text-align: center;
    padding-bottom: 10px;
}

figure img{
    width: 100%;
}
ol li{
  font-size: 15px;
   padding-bottom: 2px;
    font-weight: 600;
}


.tabletext{
    position: relative;
    font-size: 15px;
    top: 30px;
    left: 20px;

}



table{

    margin: 30px 20px 20px 20px;
}


.table_a {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.table_a td,th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}


.astitle{
    height: 40px;
    line-height: 40px;
    border-left: 4px solid #ccc;
    padding-left: 10px;
}


.mess{
    position: relative;
    left:30%;
    padding-top: 20px;
    font-size: 14px;
}

.mess_a{
    padding-bottom: 20px;
}
.mess_a label{
    font-size: 13px;

}
.mess_a span{
    font-size: 12px;
    color: darkgray;
    padding-left: 9.5%;
}

.mess_b{
    margin-left: 26px;
    font-size: 13px;
    margin-bottom: 10px;
}


.mess_c{
    /*margin-left: 0px;*/
    font-size: 13px;

}


.mess_c span{
    display: inline-block;
    font-size: 12px;
    color: darkgray;
    padding-left: 9.5%;
    padding-bottom: 10px;

}

.mess_d{
    padding-left: 2.9%;
    font-size: 13px;
    padding-bottom: 10px;

}



.sel{
    padding-left: 6%;
    font-size: 13px;
    padding-bottom: 10px;

}

.hob{
    padding-left: 3%;
    padding-bottom: 10px;
}

.tta{
    width: 400px;
    height: 200px;

}
.mess_f{
    margin-left: 4%;
}
.button{
    position: relative;
    left: 12%;
    width: 80%;
    height: 45px;
    line-height: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: aquamarine;
    text-align: center;
    border-radius: 10px;

}


footer{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: black;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

























